.sidenav {
    height: 80%;
    display: none;
    width: 15%;
    margin: 6px 0;
    position: absolute;
    top: 70px;
    z-index: 1;
    left: 0;
    background-color:white;
    box-shadow:0.2px 0.2px 15px rgba(0,0,0,0.3);
    transition: 0.2s linear;
    margin-bottom: 0.5%;

}
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-top: none;
    border-bottom: 1px solid #f1f1f1;
    border-left: none;
    border-right: none;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dropdown-content {
    display: none;
    color: white;
    position: absolute;
    background-color:black;
    transition: 0.7s linear;
    width: 100%;
    padding: 8px 8px 8px 8px;
    top: 0;
    left: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    animation-name: scale;
    animation-duration: .5s;
}

.dropdown-content a {
     padding: 8px 8px 8px 8%;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    transition: 0.3s;
    border-top: none;
    border-right: none;
    border-left: none;
}
#spans
{
    float: right;
    opacity: 0.4;
    margin-right: 1px;
}
@keyframes scale{
        from{transform: scale(0);}
        to{transform: scale(1);}
    }

.dropdown-content a:hover { 
  color: black !important;
    background-color:#F5F7FB;
}
.dropdown a 
{
    color: white;
    text-decoration: none;
}
.dropdown:hover a 
{
      color: #3260B8 ;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
 color: #3260B8;
    background-color:#F5F7FB;
    }