* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: proxima-nova,sans-serif;
min-height: 2000px;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}
#Logout:focus{
  background-color: #f1f1f1;
  color: black;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


#collapse_icon{
  cursor: pointer;
  border: 1px solid #f1f1f1;
  position: absolute;
  color: white;
  font-size: 1.8em;
  margin: 13px 10px;
  padding: 10px 10px;
  transition: 0.2s linear;
  border-radius: 10px;
}
#collapse_icon:hover
{
   color: #3260B8;
  background-color: #F5F7FB;

}
.header a:hover {
  background-color: #3c91ca;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: black;
}

.header-right {
  float: right;
}
.clg_name{
  color:white;
	position: absolute;
	font-size: 1.4em;
	display: none;
}
.clg_name2{
  color: white;
	position: absolute;
  cursor: pointer;
	text-align: center;
 	margin-left: 35%;
}
.clg_name3{
  color: white;
  display: none;
  position: absolute;
  text-align: center;
  margin-left: 43%;
}
@media screen and (max-width: 976px)
{
  #Logout{
  opacity: 0;
  }
  #about{
    opacity: 0;
  }
}
@media screen and (max-width: 800px){
  .clg_name2{
    display: none;
  }
  .closebtn{
    display: block;
  }
}
@media screen and (max-width: 950px){
  .clg_name2{
    margin-left: 15%;
  }
}
@media screen and (max-width: 800px)
{
  .clg_name3{
    display: block;
  }
  .sidenav{
    display: none;
  }

}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .sidenav
  {
    width: 50%;
    display: none;
  }
  .header-right {
    float: none;
    display: none;
  }
  .header{
  	height:70px;
  }
}
